* {
    font:  Arial, sans-serif;
    
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    align-content: center;
    
    
}
body{
    margin:0px;
    padding:0px;
    border-top: 0px;
    border-right:50px double #4d4b4b;
    border-left:50px double #4d4b4b;}
 .container-a {
   
    display: inline;
    
    
}
h2{
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.container-a img {
    width: 20%;
    height:auto;

}

#kanał{
    background-color: #c72323;
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 30%;
    padding-right: 15px;
    text-align: center;
    align-content: center;
}
#pagea {
    font:  Arial, sans-serif;
    color: #000000;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('gekon1.jpg');
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 30%;
    padding-right: 15px;
    align-content: center;
}
#partnerzy{
    font:  Arial, sans-serif;
    color: #000000;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('green-tree-python-1014229_1920.jpg');
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 30%;
    padding-right: 15px;
    align-content: center;
}
#galeria {
    background-color: #c72323;
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 200%;
    padding-right: 15px;
    text-align: center;
    
 
    
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
#pageb {
   
    
    background-color: #c72323;
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 30%;
    padding-right: 15px;
    text-align: center;
    align-content: center;

}

#pagec {
   
    font:  Arial, sans-serif;
    color: #000000;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('mrówka.jpg');
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 200%;
    padding-right: 15px;
    text-align: center;
    align-content: center;

}

#paged {
    background-color: #c72323;
    border-bottom: 50px double #4d4b4b; 
    padding-bottom: 30%;
    padding-right: 15px;
    text-align: center;
    align-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('spider.jpg');
}

h1 {
    font-size: 100px;
    font-family: Impact ;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    
}
h2{
    align-self: center
}

nav {
    height: 75px;
    width: 94.75%;
    position: fixed;
    line-height: 100px;
    background-color: #000000;
    align-content: center;
    line-height: normal;
    

}
.container {
    width: 1px;
    height: 1px;
}

/* resize images */
.container img {
    width: 5000%;
    height: auto;
}
ul {
    list-style: inside ;
}

li {
    display: inline-block;
}

a {
    line-height: normal;
    display: inline-block;
    color: #fdfdfd;
    padding: 0 100px 0 100px;
    text-decoration: none;
    
    

}

img {
    float: left;
    padding: 15px;
    display: block;
margin-left: auto;
margin-right: auto;
}

.img {

    float: center;
    margin: 0px;
    padding: 0 px;
    height: 30 vh;
    widows: 20vw;
}


article {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a:hover {
    background: #b6dede;
    background-image: none;
    height: 75px;
}

p {
    font-style: o;
    font-weight: normal;
    text-align: center;
    padding-left: 50;
    padding-right: 70;

}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
}

.div {
    overflow:  hidden;
    width: 20px;
    height: 30vh;
    position: relative;
    left: 15px;
}



img:hover {
    transform: scale(1.4)
}
